body{
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    }
h1{
    font-size: 50px;
   text-transform: uppercase;
   

}
h2{
    font-size: 40px;
    color: #02AAB0;
    margin-bottom: -20px;

}

 .main-section{
        padding: 3%;
        background-image: url(Frame\ 57.jpg);
        background-repeat: no-repeat;
        background-size:100% auto;
    }
    .second-section{
        padding: 5%;
    }
    .terget-section{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        padding: 20px;
        padding:0px 100px 30px 100px;
        margin: 100px;
    }
.logo{
    position: relative;
    margin-left: 5%;
}
    .flex{
        display: flex;
    }
    .half-width{
        padding-left: 2%;
        width: 50%;
        position: relative;

    }
    .half-width img{
        width: 100%;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 10px;
        
    }
    .title{
        color: #ffa703;
    }
    a {background-image:linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
       padding: 10px 25px;
       text-align: center;
       text-transform: uppercase;
       text-decoration: none;
       font-size: 20px;
       border-radius: 10px;
       font-weight: 700;
       color: white;            
       box-shadow: 0 0 10px #eee;
       margin: 2%;
    }
    .target-num{
        color: #a2b9c6;
    }

