body{
    margin: 0;
    font-size: 1.2em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    }
h1{
    font-size: 50px;
   text-transform: uppercase;
   

}
h2{
    font-size: 40px;
    color: #02AAB0;
   text-transform: uppercase;
   margin-bottom: -20px;

}
h3{
    font-size: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 3px 0%;
    color: #88a72c;
    text-align: center;
    text-transform: capitalize;
}
h4{
    text-align: center;
   margin-bottom: -20px;
   text-transform: uppercase;
   font-size: 1.2em;
   color: #02AAB0;


}
h5{
    font-size: 1.5em;
    text-transform: capitalize;
}

 .main-section{
        padding: 100px;
        background-image: url(Frame\ 57.jpg);
        background-repeat: no-repeat;
        background-size:100% auto;
    }
    .second-section{
        padding: 100px;
        background-image:url(resturent\ pic/Flour.jpg); ;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-color: #fdfcfa;

    }
    .terget-section{
       
        padding: 20px;
        padding:0px 100px 30px 100px;
        background-image: url(resturent\ pic/terget.jpg);
        padding: 100px;
        background-size: cover;
    }
    .target-num{
        color: #12f540;
    }
    .feedback{
        text-align: center;
        max-width: 80%;
        margin: auto;
        padding: 10px 30px 50px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-top: 50px;
    }


   
.logo{
    position: relative;
    margin-left: 5%;
}
    .flex{
        display: flex;
    }
    .half-width{
        padding-left: 2%;
        width: 50%;
        position: relative;

    }
    .half-width img{
        width: 100%;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
       
        
    }
    .title{
        color: #ffa703;
    }
    a {background-image:linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
       padding: 10px 25px;
       text-align: center;
       text-transform: uppercase;
       text-decoration: none;
       font-size: 20px;
       border-radius: 10px;
       font-weight: 700;
       color: white;  
       margin-top: 50px;          
       box-shadow: 0 0 10px #eee;
    }
   .red{
       font-size: 1.3em;
       font-weight: 700;
       color: #ff9100;
       padding: 6px 30px;
       
       border-radius: 30px;
   }

  .our-resepy{
      padding: 80px;
      text-align: center;
  }
  .our-resepy p{
      max-width: 60%;
      margin: auto;
  }
  .food-item p{
    max-width: 100%;

  }
  .food-item{
      margin: 2.5%;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
      padding: 20px;
      padding-bottom: 50px;
      width: 30%;
      border-radius: 20px;

  }
  .food-item img{
      width: 100%;
      border-radius: 10px;
  }
  .food-item div{
      height:59%;
  }
  footer{
        padding: 60px;
        background-color: rgba(0, 0, 0, 0.892);
        color: white;
        text-align: center;
  }
  .subsribe{
      margin: 0 100px;
      border: 3px solid;
      padding: 20px;
      border-radius: 20px;
  }
  .subsribe div{
      width: 30%;
      margin: 20px;

  }
